<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="registerModalLabel">Đăng ký</h5>
            <a href="/account">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
        </div>
        <div class="modal-body">
            <form method="POST" action="/account/register" id="registerForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Tên người dùng</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="username" 
                        name="username" 
                        value="{{oldInput.username}}" 
                        required>
                   
                    {{#if errors.username}}
                        <small class="text-danger">{{errors.username}}</small>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="email" 
                        name="email" 
                        value="{{oldInput.email}}" 
                        required>
                 
                    {{#if errors.email}}
                        <small class="text-danger">{{errors.email}}</small>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input 
                        type="password" 
                        class="form-control" 
                        id="password" 
                        name="password" 
                        value="{{oldInput.password}}" 
                        required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
            </form>
        </div>
    </div>
</div>
